/* bố cục tổng thể + font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 font-family: "Roboto", sans-serif;
 position: relative;
 min-width: 100vw;
 min-height: 100vh;
 background-color: rgb(185, 245, 185);
}

/* cố định box nằm giữa màn hình */
#main {
    background-color: lightblue;
    padding: 30px 0px;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 40px 40px;
}

/* phần label */
#label {
    padding: 7px 7px;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
}

/* phần nội dung chính */
#content {
    width: 100%;
    height: 100%;
    display: flex;
}

/* phần thêm task, nhập liệu */
#input-box {
    background-color: lightgray;
    width: 40%;
    padding-top: 15px;
    border-radius: 0 0 5px 5px;
}

#input-label {
    background-color: lightblue;
    margin-right: 60px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border: 4px double darkred ;
    border-radius: 10px;
}

#input-in {
    background-color: sandybrown;
    margin-left: 30px;
    border: 4px double darkred ;
    transform: translate(0px,-12px);
    border-radius: 10px;
}
#input-in textarea {
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    caret-color: darkred;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    
}

#input-in textarea:focus {
    outline: none;
}
#input-addBtn {
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
#input-addBtn button{
    padding: 7px 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: -7px 7px rgb(179, 177, 177);
}
#input-addBtn button:active {
    box-shadow: -4px 4px rgb(131, 130, 130);
}
#input-addBtn button:focus {
    outline: none;
}

/* phần nội dung task đã thêm list-box */
#list-box {
    background-color: darkgray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.list-items {
    padding: 7px 7px;
    margin-bottom: 5px;
    display: flex;
}
.list-task {
    background-color: darkturquoise;
    border-radius: 15px;
    width: 70%;
    padding: 3px 3px;
    padding-left: 20px;
}
.list-btn {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.list-btn button {
    height: 100%;
    width: 100%;
}

/* thay đổi màu task khi ấn nút hoàn thành */
.active {
    background-color: lightpink;
    text-decoration: line-through;
}

/* tinh chỉnh cho input tag khi ấn nút sửa */
.list-task input {
    width: 100%;
    height: 100%;
}